*{box-sizing: border-box;}

body{
    background-color: black;
    background-image: url(/images/tumblr_5378b15545e9f678c276c71d65c2332d_62af995e_1280.gif);
}
h1{
    color: white;
    display: flexbox;
    text-align: center;
}